/* Fondo */
body {

    background-image: url("imgP/madera.jpg") ; 
    color: white;
    background-repeat: no-repeat;
    background-position: top;
      
}
/* Tipografias */
#GoblinOne {
    font-family: 'Goblin One', cursive;
    color: brown;
    width: 40%;
    font-size: 30px;
}

h3.Farro {
    font-family: 'Farro', sans-serif;
    color: cadetblue;
    font-size: 20px;
}

li.Itim {
    font-family: 'Itim', cursive;
}

/* Hipervínculos */
.bordi {
    margin: 12px;
}

.card {
    font-size: 14px;
    width: 20%;
    display: inline-flex;
    color: black;
}

#targetas {
    display: flex;
    justify-content: space-around;  
}

#volveracasa {

    background-color: rgba(128, 0, 128, 0.705) ;
    font-size: 28px;
    border-radius: 7px;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px ;
}

footer {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

    /* Funciones de los hipervínculos */

a:active {
    border: 5px outset rgba(128, 0, 128, 0.89);
    color: red;
}

a:link {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}